h1{
                text-align: center;
                position: absolute;
                font-family: 'Times New Roman', Times, serif;
                font-size: 50px;
                left: 50px;
                top: 850px;
            }
            p{
                text-align: center;
                position: absolute;
                left: 500px;
                top: 950px;
            }
            div img:hover{
                filter:brightness(0.5);
            }

            .Players-Handbook{
                position: absolute;
                left: 130px;
                top: 1100px;
            }
            .Players-Handbook img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_PH{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .Players-Handbook:hover .img_description_PH{
                visibility: visible;
                opacity: 1;
            }

            .Tashas-Cauldron-of-Everything{
                position: absolute;
                left: 431px;
                top: 1100px;
            }
            .Tashas-Cauldron-of-Everything img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_TCoE{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .Tashas-Cauldron-of-Everything:hover .img_description_TCoE{
                visibility: visible;
                opacity: 1;
            }

            .Acquisitions-Incorporated{
                position: absolute;
                left: 732px;
                top: 1100px;
            }
            .Acquisitions-Incorporated img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_AI{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .Acquisitions-Incorporated:hover .img_description_AI{
                visibility: visible;
                opacity: 1;
            }

            .Dungeon-Masters-Guide{
                position: absolute;
                left: 1034px;
                top: 1100px;
            }
            .Dungeon-Masters-Guide img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_DMG{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .Dungeon-Masters-Guide:hover .img_description_DMG{
                visibility: visible;
                opacity: 1;
            }

            .Explorers-Guide-to-Wildemount{
                position: absolute;
                left: 130px;
                top: 1451px;
            }
            .Explorers-Guide-to-Wildemount img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_EGtW{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .Explorers-Guide-to-Wildemount:hover .img_description_EGtW{
                visibility: visible;
                opacity: 1;
            }
            .Eberron-Rising-from-the-last-war{
                position: absolute;
                left: 431px;
                top: 1451px;
            }
            .Eberron-Rising-from-the-last-war img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_ERGtW{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .Eberron-Rising-from-the-last-war:hover .img_description_ERGtW{
                visibility: visible;
                opacity: 1;
            }
            .Fizbans-Treasury-of-Dragons{
                position: absolute;
                left: 732px;
                top: 1451px;
            }
            .Fizbans-Treasury-of-Dragons img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_FToD{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .Fizbans-Treasury-of-Dragons:hover .img_description_FToD{
                visibility: visible;
                opacity: 1;
            }
            .Guildmasters-Guide-to-Ravnica{
                position: absolute;
                left: 1035px;
                top: 1451px;
            }
            .Guildmasters-Guide-to-Ravnica img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_GGtR{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .Guildmasters-Guide-to-Ravnica:hover .img_description_GGtR{
                visibility: visible;
                opacity: 1;
            }
            .Mordenkainens-Fiendish-Folio-Volume-1{
                position: absolute;
                left: 130px;
                top: 1802px;
            }
            .Mordenkainens-Fiendish-Folio-Volume-1 img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_MFFV1{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .Mordenkainens-Fiendish-Folio-Volume-1:hover .img_description_MFFV1{
                visibility: visible;
                opacity: 1;
            }
            .Monster-manual{
                position: absolute;
                left: 431px;
                top: 1802px;
            }
            .Monster-manual img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_MM{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .Monster-manual:hover .img_description_MM{
                visibility: visible;
                opacity: 1;
            }
            .Mythic-Odysseys-of-Theros{
                position: absolute;
                left: 732px;
                top: 1802px;
            }
            .Mythic-Odysseys-of-Theros img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_MOoT{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .Mythic-Odysseys-of-Theros:hover .img_description_MOoT{
                visibility: visible;
                opacity: 1;
            }
            .monsters-of-the-multiverse{
                position: absolute;
                left: 1035px;
                top: 1802px;
            }
            .monsters-of-the-multiverse img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_MotM{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .monsters-of-the-multiverse:hover .img_description_MotM{
                visibility: visible;
                opacity: 1;
            }
            .one-grung-above{
                position: absolute;
                left: 130px;
                top: 2154px;
            }
            .one-grung-above img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_OGA{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .one-grung-above:hover .img_description_OGA{
                visibility: visible;
                opacity: 1;
            }
            .strixhaven-a-curriculum-of-chaos{
                position: absolute;
                left: 431px;
                top: 2154px;
            }
            .strixhaven-a-curriculum-of-chaos img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_SaC{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .strixhaven-a-curriculum-of-chaos:hover .img_description_SaC{
                visibility: visible;
                opacity: 1;
            }
            .spelljammer-adventures-in-space{
                position: absolute;
                left: 732px;
                top: 2154px;
            }
            .spelljammer-adventures-in-space img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_SAiS{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .spelljammer-adventures-in-space:hover .img_description_SAiS{
                visibility: visible;
                opacity: 1;
            }
            .sword-coast-adventurers-guide{
                position: absolute;
                left: 1034px;
                top: 2154px;
            }
            .sword-coast-adventurers-guide img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_SCAG{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .sword-coast-adventurers-guide:hover .img_description_SCAG{
                visibility: visible;
                opacity: 1;
            }
            .the-tortle-package{
                position: absolute;
                left: 130px;
                top: 2506px;
            }
            .the-tortle-package img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_tTP{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .the-tortle-package:hover .img_description_tTP{
                visibility: visible;
                opacity: 1;
            }
            .van-richtens-guide-to-ravenloft{
                position: absolute;
                left: 431px;
                top: 2506px;
            }
            .van-richtens-guide-to-ravenloft img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_VRGtR{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .van-richtens-guide-to-ravenloft:hover .img_description_VRGtR{
                visibility: visible;
                opacity: 1;
            }
            .wayfinders-guide-to-eberron{
                position: absolute;
                left: 732px;
                top: 2506px;
            }
            .wayfinders-guide-to-eberron img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_WGtE{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .wayfinders-guide-to-eberron:hover .img_description_WGtE{
                visibility: visible;
                opacity: 1;
            }
            .xanathars-guide-to-everything{
                position: absolute;
                left: 1034px;
                top: 2506px;
            }
            .xanathars-guide-to-everything img{
               height: 350px;
               width: 300px;
               padding: 10px; 
            }
            .img_description_XGtE{
                font-family: 'Times New Roman', Times, serif;
                position: absolute;
                width: 87%;
                max-width: 300px;
                height: 24%;
                max-height: 350px;
                padding: 10px;
                left: 12px;
                top: 250px;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .xanathars-guide-to-everything:hover .img_description_XGtE{
                visibility: visible;
                opacity: 1;
            }