body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: white;
    color: black;
}


.Current{
    background: rgba(188, 7, 7, 0.7);
    border-radius: 6px;
    color:rgb(0, 0, 0);
    font-size: 20px;
}
.container{
	margin-top: 5%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	gap:0px 10px;
}
nav{
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    width:100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff;
    min-width: 100%;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
nav .logo{
    padding: 22px 20px;
    height: 50px;
    float: left;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color:#fff;
}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0px;
    display: flex;
}
nav ul li a{
    line-height: 80px;
    color:#fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

}
nav ul li a:hover{
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
    color:rgb(145, 6, 6);
    font-size: 20px;
}
.video-container{
    width: 100vw;
    height: 100vh;
}
iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}
@media (min-aspect-ratio: 16/9) {
    .video-container iframe {
    height: 56.25vw;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-container iframe {
    width: 177.78vh;
    }
}




