

.container{
	margin-top: 5%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	gap:0px 10px;
}
h1{
	margin-top:10%;
                text-align: center;
              
                font-family: 'Times New Roman', Times, serif;
                font-size: 50px;
                
    }
h2{
	text-align: center;
}       
p{
                text-align: center;
               
                
            }
            div img:hover{
                filter:brightness(0.5);
            }

.Thumbnail{
	width: 300px;
	position: relative;
}

.Thumbnail img{
	width: 300px;
	height:350px;	
 }
            .Thumbnail .Thumbnail_Description{
                font-family: 'Times New Roman', 'Times', serif;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
				position:absolute;
				bottom:4px;
				width: 100%;
				text-align: center;
				height:80px;
				
            }
            .Thumbnail:hover .Thumbnail_Description{
                visibility: visible;
                opacity: 1;
            }

            